@charset "utf-8";

* {
    margin:0;
    padding:0;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {

}

section {
    margin:100px;
}

.card_wrap {
    position:relative;
    width:300px;
    height:400px;
    perspective: 600px;
}
.card_wrap01 {
}
.card_wrap .card_front {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:lightblue;
    border-radius:20px;
    transition:.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity:1;
    -webkit-transform-style: preserve-3d;
}
.card_wrap .card_back {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:lightpink;
    border-radius:20px;
    transform:rotateY(180deg);
    z-index:-1;
    transition:.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity:0;
}
.card_wrap p {
    font-family: 'Jua', sans-serif;
    font-size:30px;
    color:#1b1b1b;
}

.card_wrap:hover .card_front {
    transform:rotateY(-180deg);
    transform-origin: center;
    z-index:-1;
    opacity:0;
}

.card_wrap:hover .card_back {
    transform:rotateY(0deg);
    transform-origin: center;
    z-index:1;
    opacity:1;
}

